$sidebarWidth: 300px;

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 5px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.sidebar {
  max-width: $sidebarWidth;
  min-height: 100vh;
  z-index: 1;
  background-color: white;
  box-shadow: 5px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
}

.main {
  margin-left: $sidebarWidth;
  margin-top: 30px;
}
